# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.toc
*.synctex.gz
*.bbl
*.blg
*.nav
*.snm
*.vrb

# C Executables and Object files
*.o
*.obj
*.exe
q1_1
q1_2
q2
q3
q4
q5

# OS & Editor junk
.DS_Store
Thumbs.db
.vscode/
q1_burn
q1_sigdemo
PS3
q1_static
q1_auto
q1_static_nopie
q1_auto_nopie
q2_extern
q2_noextern
q2_extern_nopie
q2_noextern_nopie
q2_shared
q3_alloc
q3_alloc_b
q3_regions
